body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 0.5rem;
}


.bouton {
    gap: 0.5rem;
    display: flex;
    justify-content: right;
}

.burger {
    display: flex;
    justify-content: left;
}

h1 {

    text-align: center;
}

h2 {

    text-align: center;
}

.cta {

    display: flex;
    justify-content: center;

}

footer {
    padding-bottom: 1rem;
}

.icon {

    width: 1.5rem;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 3rem;
}

h3 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: normal;
    color: #666666;
}